.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
  height: max-content ;

  background: none;
  background-color: #7ee8fa;
  background-image: linear-gradient(325deg, #2f6faf 0%, #d8d8d8 74%);
}

.timer{
  margin-top: 9rem;
  margin-bottom:2rem ;
  font-size: 4rem ;
  padding: 1%;
  color: black;
}

button{
  background: none;
  border: 1px solid grey;
  border-radius: 25px;
  font-weight: 500;
  padding: 10px;
  font-size: 18px;
  margin: 10px;
}

.laps{
  font-size: 18px;
  margin-top: 6%;
}

.laps p{
  margin-bottom: 20%;
  font-size: 25px;
}

.laps li {
  margin-top: 5px;
}
